.sports-hub-container {
  padding: 1.5rem;
  max-width: 800px; /* Ancho móvil */
  width: 100%;
  align-items: center; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-text-main);
  justify-content: flex-start;
  padding-top: 1rem;
  
}

/* HERO SECTION */
.hub-hero {
  text-align: center;
  margin-top: 1rem;
}

.start-workout-btn {
  width: 100%;
  height: 80px; /* Botón bien grande */
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  border-radius: var(--radius-lg);
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: 0 10px 25px rgba(147, 129, 255, 0.4);
  transition: transform 0.2s;
  padding-left: 10%;
  padding-right: 10%;
}

.start-workout-btn:active {
  transform: scale(0.98);
}

/* MENU GRID */
.hub-menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%; /* Importante para que no se encoja */
  max-width: 600px; /* Que no se estire demasiado */
}

.hub-card {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none; /* Para Link */
  color: var(--color-text-main);
}

.hub-card:hover {
  border-color: var(--color-primary);
  background-color: var(--color-input-bg);
}

.hub-icon-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(147, 129, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}

/* MODAL SELECTOR */
.selector-modal-content {
  background-color: var(--color-white); /* Fondo correcto */
  color: var(--color-text-main);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-card);
  border: 1px solid var(--color-border);
  max-width: 800px;
}

.routine-selector-item {
  padding: 15px 20px;
  border-bottom: 1px solid var(--color-border); /* Borde sutil */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-main);
}

.routine-selector-item:hover {
  background-color: var(--color-input-bg); /* Hover sutil */
  color: var(--color-primary);
}

.routine-selector-item span {
  font-size: 1rem;
  font-weight: 600;
}