:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f7ff; /* Tu color de fondo claro */
  min-height: 100vh;
}